<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card main-content">
          <div class="header">
              <h2>
                  {{course.title}} <span class="course-detail-header"><i class="fa fa-calendar"></i> <span>{{course.date | date:'short'}}</span></span>
              </h2>
              <ul class="header-dropdown m-r--5">
                  <li>
                      <div>
                          <button type="button" [routerLink]="['/app/courses']" class="btn bg-black waves-effect waves-light"><i class="fa fa-arrow-circle-left"></i> {{l('BackToCourses')}}</button>
                          <button *ngIf="!isRegistered() && !course.isCancelled" type="button" class="btn bg-green waves-effect waves-light" (click)="registerToCourse()"><i class="fa fa-star"></i> {{l('Register')}}</button>
                          <button *ngIf="isRegistered() && !course.isCancelled" type="button" class="btn bg-orange waves-effect waves-light" (click)="cancelRegistrationFromCourse()"><i class="fa fa-remove"></i> {{l('CancelRegistration')}}</button>
                          <button *ngIf="isCourseCreator() && !course.isCancelled" type="button" class="btn bg-red waves-effect waves-light" (click)="cancelCourse()"><i class="fa fa-remove"></i> {{l('CancelTheCourse')}}</button>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="body table-responsive">
              <div>
                  {{course.description}}
              </div>
              <hr />

              <!-- TODOX -->
              <!-- <div>
                {{course.location}}
              </div>
              <hr /> -->

              <div>
                  <h5>
                          {{l("XregisteredOfYAvailableRegistration", course.registrationsCount, course.maxRegistrationCount)}}
                  </h5>
              </div>
              <hr />
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>{{l('Name')}}</th>
                          <th>{{l('Surname')}}</th>
                          <th>{{l('CreationTime')}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let registration of course.registrations">
                          <td>{{registration.userName}}</td>
                          <td>{{registration.userSurname}}</td>
                          <td>{{registration.creationTime | date:'short'}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
